body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
