* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.login-box {
    background-color: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

small {
    color: red;
    font-size: 12px;
    display: block;
    text-align: left;
    height: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

